div.nav-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
div.nav-bar a {
    margin: 15px;
    display: block;
    padding: 10px;
    font-size: 14px;
    width: 80px;
    text-decoration: none;
    background-color: darkgray;
    border-radius: 25px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    text-align: center;
    color: white

}

div.nav-bar a.active {
    color: red;
}